<% if logged_in? %>
	<div id="picker" style="padding: 100px;">
		<% form_for @user.moods.build do |f| %>
			<%= f.hidden_field :red %>
			<%= f.hidden_field :green %>
			<%= f.hidden_field :blue %>
	    <%= image_submit_tag 'hexagon.jpg', :id => "hexagon" %>
	  <% end %>
	</div>
	<% if current_user.subscribes_to?(@user) %>
    <% form_for [@user, current_user.subscription_for(@user)] do |f| %>
      <p><%= submit_tag 'Unsubscribe' %></p>
    <% end %>
  <% else %>
    <% form_for [@user, :subscription] do |f| %>
      <p><%= submit_tag 'Subscribe' %></p>
    <% end %>
  <% end %>
<% end %>

<ol>
  <% @moods.each do |mood| %>
    <li><%= mood.red %>, <%= mood.green %>, <%= mood.blue %>
    <% if current_user == @user %>
      <%= link_to 'Delete', mood, :method => :delete %>
    <% end %>
    </li>
  <% end %>
</ol>

<h2>Subscriptions</h2>

<ul>
  <% @user.subscribers.each do |subscriber| %>
    <li><%= link_to subscriber.name, subscriber %></li>
  <% end %>
</ul>
