<% form_for current_user, :url => account_path do |f| %>
  <% [:nickname, :location, :openid_identity].each do |field| %>
    <p><%= f.label field %> <%= f.text_field field %></p>
  <% end %>
  <p><%= f.label :timezone %> <%= f.time_zone_select :timezone %></p>
  <p><%= f.submit %></p>
<% end %>
